# Eclipse
/.classpath
/.project
/.settings

# build
/bin
/lib
/liblwjgl.jnilib
/libjinput-osx.jnilib
/liblwjgl.so
/liblwjgl64.so
/libopenal.so
/libopenal64.so

# OS,editor
.DS_Store
*~
*.blend1

# Logs
/log
/hs_err_pid*.log
