# Eclipse
/.classpath
/.project
/.settings

# build
/bin
/lib
/liblwjgl.jnilib
/libjinput-osx.jnilib
/liblwjgl.so
/liblwjgl64.so
/libopenal.so
/libopenal64.so
/OpenAL64.dll
/lwjgl64.dll

# OS,editor
.DS_Store
*~
*.blend1

# Logs
/log/*
!/log/.gitkeep
/hs_err_pid*.log
